<div class="h-full py-20 flex justify-center items-center content-between overflow-auto bg-blue" style="width: 5.75rem;">

	<div class="w-full flex justify-center" style="gap: 1rem; ">
		<a nz-tooltip nzTooltipTitle="Crear persona" href="./persona/crear" class="w-50 h-40 flex items-center flex-no-wrap text-white text-center text-xl hover:text-yellow-600">
			<span nz-icon nzType="user-add" class="text-xl w-full display-block text-center m-0" nzTheme="outline"></span>
		</a>
		<a nz-tooltip nzTooltipTitle="Listar persona" href="./persona/listar" class="w-50 h-40 flex items-center flex-no-wrap text-white text-center text-xl hover:text-yellow-600">
			<span nz-icon nzType="container" class="text-xl w-full display-block text-center m-0" nzTheme="outline"></span>
		</a>
		<a nz-tooltip nzTooltipTitle="Buscar persona" href="./persona/buscarActualizar" class="w-50 h-40 flex items-center flex-no-wrap text-white text-center text-xl hover:text-yellow-600">
			<span nz-icon nzType="search" class="text-xl w-full display-block text-center m-0" nzTheme="outline"></span>
		</a>
        <!-- Para crear nuevos componentes solo copiar lo de arriba y cambiarle el listado solitos se centran.. el path es el routing como child component
		<a nz-tooltip nzTooltipTitle="Crear usuario" href="" class="w-50 h-40 flex items-center flex-no-wrap text-white text-center text-xl hover:text-yellow-600">
			<span nz-icon nzType="user-add" class="text-xl w-full display-block text-center m-0" nzTheme="outline"></span>
		</a>-->
	</div>

</div>